# Cache files
__pycache__/
.pyc
.DS_Store

# Text editor remnants
.vscode/
.vs/
.idea/
CMakeLists.txt
cmake-build-debug
venv/

# Project-specific ignores
build/
expected/
notes/
baserom/
docs/doxygen/
*.elf
*.sra
*.z64
*.n64
*.v64
*.map
*.dump
*.pdb
out.txt

# Tool artifacts
tools/mipspro7.2_compiler/
tools/overlayhelpers/batchdisasm/output/*
tools/overlayhelpers/batchdisasm/output2/*
tools/overlayhelpers/batchdisasm/mipsdisasm/*
tools/disasm/output/*
tools/asmsplitter/asm/*
tools/asmsplitter/c/*
ctx.c
tools/*dSYM/
graphs/

# Assets
assets/**/*.png
assets/**/*.jpg
assets/**/*.mdli
assets/**/*.anmi
assets/**/*.obj
assets/**/*.mtl
assets/**/*.fbx
.extracted-assets.json

# Docs
!docs/tutorial/

# Per-user configuration
.python-version

# Ares emulator
*.ram
